* {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 10px auto;
    background: lightgray;
    color: white;
    width: 90%;
    padding: 10px;
    font-size: 2em;
}

div{
    background: black;
    margin: 10px auto;
    color: white;
    width: 90%;
    padding: 10px;
    font-size: 1em;
}

div[id]{
    font-size: 0.8em;
    word-break: break-all;
}

pre {
    padding: 20px;
}